/* body {
    background-image: url('../images/backgroundimg-2.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}


.h1-1 {

    font-size: 30px;
    color: black;

}

#div1 {
    color: white;
    padding: 20px;
    border: black 5px solid;
    height: 700px;
    width: 700px;
    margin-top: px;
    border-radius: 30px;
    box-shadow: black 10px 10px 10px;
}

.div-2 {
    overflow-y: scroll;
    overflow-x: hidden;
}

button {
    height: 40px;
    width: 100px;
    background-color: #5842d4;
    border-color: black 40px;
    border-radius: 10px;
    color: white;
    float: right;
    margin-right: 70px;
    margin-top: 3px;
    padding: 5px;

}

#mainInput {
    height: 40px;
    width: 500px;
    border-radius: 8px;
    font-size: larger;
}


ol {
    color: black;
    font-size: 28px;


} */